<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
</head>
<body>

<h1 th:text="'Welcome, ' + ${userName} + '!'"></h1>

<div class="main-menu">
    <div sec:authorize="hasRole('ROLE_STUDENT')">
        <a href="http://localhost:8080/studentschedule">Schedule</a>
    </div>

    <div sec:authorize="hasRole('ROLE_TEACHER')">
        <a href="http://localhost:8080/teacherschedule">Schedule</a>
    </div>
    <div>
        <a href="http://localhost:8080/profile">Profile</a>
    </div>
</div>

</body>
</html>
