<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/login.css}" type="text/css">
</head>
<body>

  <h1>
    University CMS
  </h1>

  <form class="login-form" th:action="@{/login}" method="POST">
    <div class="input-group">
      <label for="email">Email: </label>
      <input type="email" id="email" name="email"><br>
    </div>
    <div class="input-group">
      <label for="password">Password: </label>
      <input type="password" id="password" name="password"><br>
    </div>
    <button type="submit">Login</button>
  </form>

</body>
</html>
