<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/schedule.css}" type="text/css">
</head>
<body>

<h1>Welcome Jane!</h1>

<h2>Your schedule for 30 days</h2>

<table>
    <tr th:each="week : ${weeks}">
        <td th:each="day : ${week}">

            <span class="date" th:text="${day.getDate.getDayOfMonth()} + ' ' + ${day.getDate.getMonth().toString().toLowerCase()}"></span>
            <div th:each="lesson : ${day.getLessons}" th:if="${lesson != null}">
                <span th:text="${lesson.getCourse().getCourseName}" th:data-id="${lesson.getScheduleId()}"
                      onclick="showLessonDetails(this)" style="cursor:pointer"></span>
                <span th:text="${#temporals.format(lesson.lessonStart, 'HH:mm')} + ' - ' + ${#temporals.format(lesson.lessonEnd, 'HH:mm')}"></span>
            </div>
        </td>
    </tr>
</table>

<div id="lessonDetails" style="display: none;">
    <h3 id="lessonName"></h3>
    <p id="group"></p>
    <p id="startTime"></p>
    <p id="endTime"></p>
    <p id="description"></p>
</div>

<div class="add-lesson-form">
    <h2>Add a new lesson</h2>

    <form id="add-lesson">
        <label for="courseName">Course Name:</label><br>
        <input type="text" id="courseName" name="courseName"><br>
        <label for="groupName">Group Name:</label><br>
        <input type="text" id="groupName" name="groupName"><br>
        <label for="lessonStart">Lesson Start (HH:mm):</label><br>
        <input type="text" id="lessonStart" name="lessonStart"><br>
        <label for="lessonEnd">Lesson End (HH:mm):</label><br>
        <input type="text" id="lessonEnd" name="lessonEnd"><br>
        <label for="lessonDescription">Lesson Description:</label><br>
        <textarea id="lessonDescription" name="lessonDescription"></textarea><br>
        <input type="submit" value="Add Lesson">
    </form>
</div>

<script>
    function showLessonDetails(element) {
        let lessonId = element.getAttribute('data-id');
        console.log('Lesson ID:', lessonId);
        fetch(`/schedule/lesson/${lessonId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(lesson => {
                console.log('Lesson:', lesson);
                document.getElementById('lessonName').textContent = lesson.course.courseName;
                document.getElementById('groupName').textContent = "Group: " + lesson.group.groupName;
                document.getElementById('startTime').textContent = "Lesson starts at: " + lesson.lessonStart;
                document.getElementById('endTime').textContent = "Lesson ends at: " + lesson.lessonEnd;
                document.getElementById('description').textContent = "Description: " + lesson.lessonDescription;
                document.getElementById('lessonDetails').style.display = 'block';
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

</body>
</html>
